/* nav active and hover effect */
.nav-link.active,
.nav-link:hover {
  color: rgb(5, 4, 0) !important;
  font-weight: bold;
}

.nav-item.active .nav-link {
  color: rgb(8, 7, 1) !important;
}

/* game_post style */
.game_post img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.game_post {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background: #fff;
  transition: 0.3s;
  text-align: center;
}


.game_post:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.admin-badge {
  color: red;
  font-weight: bold;
}

.no-image {
  width: 274px;
  height: 400px;
  background-color: gainsboro;
  line-height: 300px;
}

.comment-card {
  background: #f8f9fa;
  border-radius: 8px;
  transition: transform 0.2s;
}

.comment-card:hover {
  transform: translateY(-2px);
}

.admin-badge {
  font-size: 0.8em;
  vertical-align: super;
}

/* show_comments.php  img */
body>div>div.row.justify-content-start.border-bottom.mb-2>div>img {
  width: 500px;

}

/* index game-list cover image */
#game-list>div>div>div>a>img {
  width: 267px;
}